body {
  font-family: "Poppins", sans-serif, Arial;
  margin: 0;
  padding: 0;
  background: #080808;
  color: #fff;
}
.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #ff004f;
  transition: 0.5s;
  position: absolute;
  bottom: -6px;
  left: 0;
}

nav ul li a:hover::after {
  width: 100%;
}

.logo {
  width: 150px;
}

.blog-post {
  margin-bottom: 50px;
}

.blog-post h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.blog-post p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.blog-post .meta {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

.blog-post .meta a {
  color: gray;
  text-decoration: none;
}

.read-more-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.read-less-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f44336;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.hidden-content {
  display: none;
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease;
}

.hidden {
  display: none;
}
