*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #080808;
    color:#fff;
}
#header{
    width: 100%;
    height: 100vh;
    background: url(../images/homebg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    width: 150px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    flex-wrap: wrap;
    justify-content: center;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}
nav ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #ff004f;
    transition: 0.5s;
    position: absolute;
    bottom: -6;
    left: 0;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 30px;
}
.header-text h1{
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 30px;
}
.header-text span{
    color: #ff004f;
}