* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: radial-gradient(
    circle,
    rgba(255, 182, 193, 1) 0%,
    rgba(255, 99, 71, 1) 100%
  );
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.container {
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  background: rgba(255, 99, 71, 0.8);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.header_text {
  font-size: 3.5em;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.gif_container img {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  margin: 20px 0;
}

.cheeky_message {
  font-size: 1.5em;
  color: white;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  margin-top: 10px;
}

.celebrate_btn {
  background-color: #ff6347;
  color: white;
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.celebrate_btn:hover {
  background-color: #ff4500;
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
